* {
    padding: 0;
    margin: 0;
  }
  
  /* All Body */
  body {
    font-family: "Helvetica", sans-serif;
  }
  .tron-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }
  .sub-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
  }
  .in-content {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .in-contentBold {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }
  .btn {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: #5cb85f;
  }

  .button-global {
    background-color: #5cb85f;
    border: #5cb85f;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
  }

  .filter {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    scale: 1.0002;
  }

  /* Main */
  main {
    margin-top: 104px;
    margin-bottom: 150px;
    background-color: white;
  }

  /* Search */
  #search {
    margin-top: -160px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: white !important;
    position: relative;
    z-index: 2;
  }
  
  #search label {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3c3c3c;
    padding-bottom: 5px;
  }
  
  #search input,
  #search select {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #8a8a8a;
  }
  
  #search button {
    margin-top: 18px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .search-card {
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8% !important;
    font-family: "Helvetica";
    font-style: normal;
    color: #000000;
  }
  
  .search-card img {
    border-radius: 5%;
  }
  
  .search-card svg {
    margin-right: 10px;
  }
  
  .search-card span {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .search-card button {
    margin-top: -8px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Navbar Section */
  .nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
  .offcanvas {
    width: 50% !important;
  }
  
  /* Header Section */
  #header {
    background-color: #f1f3ff;
  }
  
  /* Our Service Section */
  #our-service {
    margin: 10% auto;
  }
  
  /* Why Us Section */
  #why-us {
    margin: 10%;
  }
  .card-img-top {
    width: 32px;
    height: 32px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  
  /* Testimonial Section */
  #testimonial {
    margin-top: 10%;
  }
  .item {
    background-color: #f1f3ff;
    height: 270px;
    border-radius: 8px;
  }
  .image-testi {
    height: 80px;
  }
  .image-rate {
    height: 16px;
  }
  
  /* Jumbotron Section */
  #jumbotron-buttom {
    margin: 10% 3%;
  }
  .jumbotron-2 {
    width: 1168px;
    background-color: #0d28a6;
    border-radius: 13px;
    text-align: center;
    color: #ffffff;
  }
  
  /* Footer Section */
  #footer {
    margin-top: 10%;
  }
  .footer-link:link,
  .footer-link:visited,
  .footer-link:active {
    color: black;
    text-decoration: none;
  }
  .footer-link:hover {
    color: #0d28a6;
  }
  
  /* For Desktop Display */
  @media screen and (min-width: 992px) {
    /* Header Section */
    .jumbotron-header {
      padding-top: 100px;
      margin-left: 8%;
    }
    .tron-lead {
      margin-right: 20%;
    }
  
    /* Why us Section */
    #why-us {
      margin: 10%;
      margin-left: 150px;
    }
  
    /* Jumbotron section */
  
    .jumbotron-content {
      margin: auto 30%;
    }
  
    /* Faq Section */
    #faq {
      margin: 10%;
      margin-left: 150px;
    }
  
    /* FOOTER SECTION */
    #footer {
      margin: 10%;
      margin-left: 150px;
    }
  }
  
  /* For mobile diplay max 600px */
  @media (max-width: 600px) {
    body {
      padding-left: 15px;
      padding-right: 15px;
    }
    #why-us .sub-title {
      text-align: center;
    }
    #why-us .content-why-us {
      text-align: center;
    }
  
    #faq .sub-title {
      text-align: center;
    }
    #faq .in-content {
      text-align: center;
    }
  }
  